.App {
  text-align: center;
  background-image: url("https://www.background-tiles.com/overview/white/patterns/large/1018.png");
  background-repeat: repeat;
}

.PreHeader{
  height:22px;
  background-color: #17265d;
}

.Header{
    height:fit-content;
  background-color: whitesmoke;
    
}

.PostHeader{
  height:5px;
  background-color: #3556d1;
  
}



.container{
}

.flex-container {
  display: flex;
  background-color:#201d1b;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 5px;
  padding: 5px;
  font-size: 14px;
  color: #17265d;
 
  
}

.column1{
  width:320px;
  border-radius: 15px;
  background-color: #fafafa;
  }

  .WhoisArbBox{
    
    margin-top: 4px;
    box-shadow: inset 0px 0px 0px 2px #17265d;
    box-sizing: border-box; 
    height: 220px;
    border-radius: 15px;
    background-color: #bdbdbd;
    }

  .ChrisBox{
  
  margin-top: 4px;
  box-shadow: inset 0px 0px 0px 2px #3556d1;
  box-sizing: border-box; 
  height: 120px;
  border-radius: 15px;
  background-color: #d3d3d3;
  }

  .RickBox{
  
  margin-top: 4px;
  box-shadow: inset 0px 0px 0px 2px #17265d;
  box-sizing: border-box; 
  height: 120px;
  border-radius: 15px;
  background-color: #bdbdbd;
  }
  
  .RecruitWithUsBox{
  
  margin-top: 4px;
  box-shadow: inset 0px 0px 0px 2px #3556d1;
  box-sizing: border-box; 
  height: 120px;
  border-radius: 15px;
  background-color: #d3d3d3;
  }

  .PastPlacementsBox{
  margin-top: 4px;
  box-shadow: inset 0px 0px 0px 2px #17265d;
  box-sizing: border-box; 
  height: 120px;
  border-radius: 15px;
  background-color: #bdbdbd;
  }

.column2{
  width:320px;
  border-radius: 15px;
}

.column3{
  width:320px;
  border-radius: 15px;
}






.Footer{
  height:25px;
  background-color: #17265d;
  color: #f1f1f1;
  font-weight: 500;
}

.PostFooter1{
  height:5px;
  background-color: #3556d1;
  color: #f1f1f1;
}

.PostFooter2{
  height:25px;
  background-color: #050917;
  font-family: 'Times New Roman', Times, serif ;
  color:lightslategrey;
}