.App {
  text-align: center;
  background-image: url("https://www.background-tiles.com/overview/white/patterns/large/1018.png");
  background-repeat: repeat;
}

.PreHeader{
  height:22px;
  background-color: #17265d;
}

.Header{
    height:fit-content;
  background-color: whitesmoke;
    
}

.PostHeader{
  height:5px;
  background-color: #3556d1;
  
}

.container{
}

.flex-container {
  display: flex;
  background-color:#201d1b;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  
}

.flex-container > div {
  background-color: #6699CC;
  margin: 5px;
  padding: 5px;
  font-size: 14px;
  color: black;
  
  
}

.column1{
  width:320px;
  border-radius: 15px;
  color: #17265d;
  padding: 7px;
  }

  .WhoisArbBox{
    
    margin: 10px;
    -webkit-box-shadow: 0 0 6px 4px #17265d;
    -moz-box-shadow: 0 0 6px 4px #17265d;
         box-shadow: 0 0 6px 4px #17265d;
    box-sizing: border-box; 
    height: 230px;
    border-radius: 15px;
    background-color: white;
    padding: 7px;
    color: #17265d;


    }

  .ChrisBox{
  
    margin: 10px;margin-top: 18px;
    -webkit-box-shadow: 0 0 6px 4px #17265d;
    -moz-box-shadow: 0 0 6px 4px #17265d;
         box-shadow: 0 0 6px 4px #17265d;
  box-sizing: border-box; 
  height: 365px;
  border-radius: 15px;
  background-color: white;
  padding: 7px;
  color: #17265d; 
  }

  .RickBox{
  
    margin: 10px;margin-top: 18px;
    -webkit-box-shadow: 0 0 6px 4px #17265d;
    -moz-box-shadow: 0 0 6px 4px #17265d;
         box-shadow: 0 0 6px 4px #17265d;
  box-sizing: border-box; 
  height: 340px;
  border-radius: 15px;
  background-color: white;
  padding: 7px;
  color: #17265d; 
  }
  
  .RecruitWithUsBox{
    margin: 10px;margin-top: 18px;
    -webkit-box-shadow: 0 0 6px 4px #17265d;
    -moz-box-shadow: 0 0 6px 4px #17265d;
         box-shadow: 0 0 6px 4px #17265d;
  box-sizing: border-box; 
  height: 120px;
  border-radius: 15px;
  background-color: white;
  padding: 7px;
  color: #17265d;
  
  }

  .PastPlacementsBox{
    margin: 10px;margin-top: 18px;
    -webkit-box-shadow: 0 0 6px 4px #17265d;
    -moz-box-shadow: 0 0 6px 4px #17265d;
         box-shadow: 0 0 6px 4px #17265d;
  box-sizing: border-box; 
  height: 120px;
  border-radius: 15px;
  background-color: white;
  padding: 7px;
  color: #17265d; 
  }

.column2{
  width:320px;
  border-radius: 15px;
}
.Job1Box{
 margin: 10px;margin-top: 18px;
  -webkit-box-shadow: 0 0 6px 4px #005900;
  -moz-box-shadow: 0 0 6px 4px #005900;
       box-shadow: 0 0 6px 4px #005900;
  box-sizing: border-box; 
  height: 120px;
  border-radius: 15px;
  background-color: #fffee0;
  padding: 7px;
  color: #009999;
  }
  .Job2Box{
    margin: 10px;margin-top: 18px;
    -webkit-box-shadow: 0 0 6px 4px #005900;
    -moz-box-shadow: 0 0 6px 4px #005900;
         box-shadow: 0 0 6px 4px #005900;
    box-sizing: border-box; 
    height: 120px;
    border-radius: 15px;
    background-color: #fffec8;
    padding: 7px;
    color: #009999;
    }
    .Job3Box{
      margin: 10px;margin-top: 18px;
      -webkit-box-shadow: 0 0 6px 4px #005900;
      -moz-box-shadow: 0 0 6px 4px #005900;
           box-shadow: 0 0 6px 4px #005900;
      box-sizing: border-box; 
      height: 120px;
      border-radius: 15px;
      background-color: #fffee0;
      padding: 7px;
      color: #009999;
      }
      .Job4Box{
        margin: 10px;margin-top: 18px;
        -webkit-box-shadow: 0 0 6px 4px #005900;
        -moz-box-shadow: 0 0 6px 4px #005900;
             box-shadow: 0 0 6px 4px #005900;
        box-sizing: border-box; 
        height: 120px;
        border-radius: 15px;
        background-color: #fffec8;
        padding: 7px;
        color: #009999;
        }
        .Job5Box{
          margin: 10px;
          margin-top: 18px;
          -webkit-box-shadow: 0 0 6px 4px #005900;
          -moz-box-shadow: 0 0 6px 4px #005900;
               box-shadow: 0 0 6px 4px #005900;
          box-sizing: border-box; 
          height: 120px;
          border-radius: 15px;
          background-color: #fffee0;
          padding: 7px;
          color: #009999;
          }
          .Job6Box{
            margin: 10px;margin-top: 18px;
            -webkit-box-shadow: 0 0 6px 4px #005900;
            -moz-box-shadow: 0 0 6px 4px #005900;
                 box-shadow: 0 0 6px 4px #005900;
            box-sizing: border-box; 
            height: 120px;
            border-radius: 15px;
            background-color: #fffec8;
            padding: 7px;
            color: #009999;
            }
            .Job7Box{
              margin: 10px;
              margin-top: 18px;
              -webkit-box-shadow: 0 0 6px 4px #005900;
              -moz-box-shadow: 0 0 6px 4px #005900;
                   box-shadow: 0 0 6px 4px #005900;
              box-sizing: border-box; 
              height: 120px;
              border-radius: 15px;
              background-color: #fffee0;
              padding: 7px;
              color: #009999;
              }
              .Job8Box{
                margin: 10px;margin-top: 18px;
                -webkit-box-shadow: 0 0 6px 4px #005900;
                -moz-box-shadow: 0 0 6px 4px #005900;
                     box-shadow: 0 0 6px 4px #005900;
                box-sizing: border-box; 
                height: 120px;
                border-radius: 15px;
                background-color: #fffec8;
                padding: 7px;
                color: #009999;
                }
                .Job9Box{
                  margin: 10px;
                  margin-top: 18px;
                  -webkit-box-shadow: 0 0 6px 4px #005900;
                  -moz-box-shadow: 0 0 6px 4px #005900;
                       box-shadow: 0 0 6px 4px #005900;
                  box-sizing: border-box; 
                  height: 120px;
                  border-radius: 15px;
                  background-color: #fffee0;
                  padding: 7px;
                  color: #009999;
                  }

.column3{
  width:320px;
  border-radius: 15px;
}






.Footer{
  height:25px;
  background-color: #17265d;
  color: #f1f1f1;
  font-weight: 500;
}

.PostFooter1{
  height:5px;
  background-color: #3556d1;
  color: #f1f1f1;
}

.PostFooter2{
  height:25px;
  background-color: #050917;
  font-family: 'Times New Roman', Times, serif ;
  color:lightslategrey;
}