.App {
  text-align: center;
}

.flex-container {
  display: flex;
  background-color:gray;
  flex-wrap: wrap;
  justify-content: center;
  height: 400px;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 7px;
  padding: 10px;
  font-size: 14px;
}

.column1{
  width:260px;
}

.column2{
  width:260px;
}

.column3{
  width:260px;
}